.toolbar-skyblue {
  --background: skyblue;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 56px); /* Adjust for header height */
  padding: 0 20px; /* Optional: Add some padding for smaller screens */
}

.register-title {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.register-input {
  margin-bottom: 10px;
  width: 100%; /* Adjust width for a better fit within the container */
  border: 1px solid #ccc; /* Add a 1px solid border with a light gray color */
  border-radius: 4px; /* Add a slight rounded corner to the input field */
  padding: 10px; /* Add some padding to the input field */
}

.register-button, .login-button {
  width: 100%; /* Adjust width for a better fit within the container */
  margin-top: 20px;
  text-transform: none;
}

.login-button {
  font-size: 0.9em; /* Optional: Adjust font size for smaller text */
  color: #333; /* Set the text color to black */
}

.login-button span {
  color: blue; /* Set the "Sign up" text color to a blue color (you can adjust this to your liking) */
}